Port 22
PermitRootLogin no
PasswordAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
ChallengeResponseAuthentication no
UsePAM yes
PermitEmptyPasswords no
Subsystem sftp /usr/lib/openssh/sftp-server
